include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft postgres_searchindex
global-exclude __pycache__
global-exclude *.orig *.pyc *.log *.swp
prune postgres_searchindex/tests/coverage
prune postgres_searchindex/.ropeproject
