# mainly to have migrations compatible with the oldest supported django version
django<4
django-cms<3.9

# dev & test utils, so you can do a quick manage.py test without tox (that is, included as well)
pre-commit
coverage
django-coverage
tox
